apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: voting-app-prod

resources:
  - ../../base

labels:
  - pairs:
      environment: production

patches:
  - target:
      kind: Deployment
      name: frontend
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
      - op: replace
        path: /spec/template/spec/containers/0/resources
        value:
          requests:
            cpu: 200m
            memory: 256Mi
          limits:
            cpu: 1000m
            memory: 512Mi
